// Styling for Side Bar Component
.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    min-width: 4rem;
    background-color: #22262a;
    color: white;
    font-size: 1.8rem;
    hr {
        width: 100%;
        height: 3px;
        background-color: white;
        margin-top: 2rem;
    }
    svg {
        cursor: pointer;
    }
    // Each link li
    li {
        margin-top: 1rem;
    }
    // When SideBar is Open
    &.open {
        svg {
            align-self: flex-end;
        }
        a *:last-child {
            margin-right: 1rem;
        }
        align-items: flex-start;
        min-width: 12rem;
    }
}
